/* src/styles/style.css */
@import '~modern-normalize/modern-normalize.css';

/* npm install modern-normalize --save */

:root {
  line-height: 1.5;
  --backgroundColor: rgb(72, 46, 38);
  --fontColor: rgb(253, 246, 211);
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* DANTE CODE HERE -----------*/

* {
  color-scheme: dark;
}

body {
  height: 100svh;
  display: flex;
  flex-direction: column;
  gap: 300px;
  align-items: center;
}

.dropDownMenu {
  position: fixed;
}

.menuButton {
  font-size: 2rem;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

/* Image Carousel */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pictureFrame {
  border: 2px white solid;
  width: 400px;
  height: 400px;
}

.noPhoto {
  display: none;
}

.photo {
  display: block;
}

.pictureFrame img {
  width: 400px;
  height: 400px;
}

.slides img {
  width: 50px; 
  height: 50px;
}

.slides {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  border: 5px transparent solid;
}

.unselected {
  border: 5px transparent solid;
}

.selected {
  border: 5px purple solid;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

